{block content}
<article>
	<h1 class="main-title">Uskutečněné akce KČT Hlinsko v&nbsp;roce&nbsp;{$schedule->year}</h1>
	<div id="main_content">
		{$schedule->content|noescape}
	</div>
</article>
{/block}