table {
	.processed {
		color: green;
	}

	.no-processed {
		color: red;
	}
}

.ibox-title {
	.italic-note {
		font-style: italic;
		line-height: 14px;
		margin-left: 5px;
		float: left;
	}
}

.clear-left {
	clear: left;
}

.image-preview {
	width: 100%;
}

.ibox-tools {
	&.blue {
		a.control {
			color: #337ab7;
			font-size: 14px;

			i.fa-chevron-up, i.fa-chevron-down {
				position: relative;
				top: -2px;
			}

			i.fa-arrow-left, i.fa-arrow-right {
				position: relative;
				top: -1px;
			}

			i.fa-pencil-square-o {
				font-size: 15px;
				font-weight: bold;
			}

			i.fa-times {
				font-size: 17px;
			}
		}
	}
}