.footable {
	td.controls {
		a {
			font-size: 16px;
			margin-bottom: -10px;
			float: left;
			color: #2F4050;
			
			&.row-delete {
				font-size: 18px;
			}

			&:not(:last-child) {
				margin-right: 3px;
			}
		}
	}

	td.center {
		text-align: center;
	}

	td.left {
		text-align: left;
		padding-left: 10px;
	}

	td.right {
		text-align: right;
		padding-right: 10px;
	}

	td.bold {
		font-weight: bold;
	}

	td.ellipsis {
		max-width: 100px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}

	thead {
		th.controls {
			width: 73px;
		}

		th.controls-2 {
			width: 55px;
		}

		tr.footable-filtering .form-inline{
			.form-group > select {
				margin-top: -5px;
			}
		}
	}

	thead, tfood {
		th {
			-webkit-touch-callout: none; 
			-webkit-user-select: none; 
			-khtml-user-select: none; 
			-moz-user-select: none; 
			-ms-user-select: none; 
			user-select: none;
		}

		th.wide {
			width: 30% !important;
		}

		th.th-date {
			width: 84px;
		}

		th.th-year {
			width: 65px;
		}

		th.th-on-off-switch {
			width: 85px;
		}

		th.thin {
			width: 10px;
		}

		th span.footable-sort-indicator {
			display: inline !important;
		}
	}

	.switch.active {
		margin-left: 8px;
	}

	.onoffswitch-label {
		margin-bottom: -2px;
	}

	.footable-detail-row {
		.ajax-loading {
			display: block;
			margin: 0 auto;
		}
	}
}

tr.footable-detail-row {
	.result-detail {
		margin: 0 20px 0px 15px;

		tr {
			height: 30px;

			th {
				width: 250px;
				font-weight: bold;
				overflow: hidden; 
				text-overflow: ellipsis; 
				white-space: nowrap;
				padding-right: 15px;
			}

			td {
				width: 100px;
			}
		}
	}
}