<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{block title|striptags}{/block} | KČT Hlinsko ADMIN</title>

    <link href="{$basePath}/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{$basePath}/css/admin/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="{$basePath}/css/admin/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/style.css" rel="stylesheet">
    
    <script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
    
    {block head}
    {/block}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="{$basePath}/images/admin/logo2.png" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{$user->identity->fullname}</strong></span>
                                    <span class="text-muted text-xs block">Administrátor <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a n:href="Sign:out">Odhlásit</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">KČT<div class="small">ADMIN</div></div>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Noticeboard:*') ? active">
                        <a title="Nástěnka"><i class="fa fa-calendar-o"></i><span class="nav-label">Nástěnka</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li{ifCurrent Noticeboard:add} class="active"{/ifCurrent}><a n:href="Noticeboard:add">Přidat</a></li>
                            <li{ifCurrent Noticeboard:list} class="active"{/ifCurrent}><a n:href="Noticeboard:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Galery:*') ? active">
                        <a n:href="Galery:list" title="Galerie"><i class="fa fa-picture-o"></i><span class="nav-label">Galerie</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Galery:add') ? active"><a n:href="Galery:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Galery:list') ? active"><a n:href="Galery:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('EventsSchedule:*') ? active">
                        <a title="Plán akcí"><i class="fa fa-map-signs"></i><span class="nav-label">Plán akcí</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li{ifCurrent EventsSchedule:add} class="active"{/ifCurrent}><a n:href="EventsSchedule:add">Přidat</a></li>
                            <li{ifCurrent EventsSchedule:list, 'actual'} class="active"{/ifCurrent}><a n:href="EventsSchedule:list, 'actual'">Aktuální</a></li>
                            <li{ifCurrent EventsSchedule:list, 'history'} class="active"{/ifCurrent}><a n:href="EventsSchedule:list, 'history'">Uskutečněné</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Painters:*') ? active">
                        <a title="Krajem malířů vysočiny"><i class="fa fa-paint-brush"></i><span class="nav-label">Krajem malířů vys.</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li{ifCurrent Painters:add} class="active"{/ifCurrent}><a n:href="Painters:add">Přidat</a></li>
                            <li{ifCurrent Painters:list} class="active"{/ifCurrent}><a n:href="Painters:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li {ifCurrent Page:form, 'links'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'links'" title="Odkazy"><i class="fa fa-anchor"></i><span class="nav-label">Odkazy</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'welcome'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'welcome'" title="Vítejte"><i class="fa fa-sun-o"></i><span class="nav-label">Vítejte</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'history'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'history'" title="Historie"><i class="fa fa-university"></i><span class="nav-label">Historie</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'contacts'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'contacts'" title="Kontaky"><i class="fa fa-users"></i><span class="nav-label">Kontaky</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'statute'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'statute'" title="Stanovy KČT"><i class="fa fa-flag-o"></i><span class="nav-label">Stanovy KČT</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'download'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'download'" title="Ke stažení"><i class="fa fa-download"></i><span class="nav-label">Ke stažení</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'member_donations'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'member_donations'" title="Členské příspěvky"><i class="fa fa-money"></i><span class="nav-label">Členské příspěvky</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'insurance'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'insurance'" title="Členské příspěvky"><i class="fa fa-life-ring"></i><span class="nav-label">Pojištění členů</span></a>
                    </li>
                    <li {ifCurrent Page:form, 'meeting'} class="active"{/ifCurrent}>
                        <a n:href="Page:form, 'meeting'" title="Členské příspěvky"><i class="fa fa-comments-o"></i><span class="nav-label">Výroční schůze KČT</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">{$user->identity->fullname}</span></li>
                        <li class="dropdown">
                            <img alt="image" class="logo" src="{$basePath}/images/admin/logo2.png" />
                        </li>
                        <li class="main-ajax-spinner">
                            <div class="sk-spinner sk-spinner-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </li>
                        <li>
                            <a n:href="Sign:out">
                                <i class="fa fa-sign-out"></i> Odhlásit
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {include main}
            <div class="footer">
                <div class="pull-right"></div>
                <div><strong>Copyright</strong> Allrisk &copy; 2017</div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{$basePath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>    
    <script src="{$basePath}/js/inspinia.js"></script>
    <script src="{$basePath}/js/plugins/pace/pace.min.js"></script>
    <script src="{$basePath}/js/jquery-ui.min.js"></script>

    <!-- Toastr script -->
    <script src="{$basePath}/js/plugins/toastr/toastr.min.js"></script>

    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/admin.js"></script>

    {snippet flashes}
    <script>
    {foreach $flashes as $flash}
        toastr.{$flash->type|noescape}({$flash->message});
    {/foreach}
    </script>
    {/snippet}
    {block scripts}
    {/block}
</body>
</html>
