<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{block title|striptags}{/block} | Allrisk Autopůjčovna ADMIN</title>

    <link href="{$basePath}/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{$basePath}/css/admin/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="{$basePath}/css/admin/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/style.css" rel="stylesheet">
    
    <script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
    
    {block head}
    {/block}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="{$basePath}/images/admin/layout/allrisk_logo.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{$user->identity->fullname}</strong></span>
                                    <span class="text-muted text-xs block">Administrátor <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a n:href="Sign:out">Odhlásit</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">ADMIN</div>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Vehicle:*') ? active">
                        <a n:href="Vehicle:list" title="Vozidla"><i class="fa fa-car"></i><span class="nav-label">Vozidla</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Vehicle:add') ? active"><a n:href="Vehicle:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Vehicle:list') ? active"><a n:href="Vehicle:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Brand:*') ? active">
                        <a n:href="Brand:list" title="Značky"><i class="fa fa-diamond"></i><span class="nav-label">Značky</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Brand:add') ? active"><a n:href="Brand:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Brand:list') ? active"><a n:href="Brand:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('RentalOrder:*') ? active">
                        <a n:href="RentalOrder:list" title="Objednávky"><i class="fa fa-handshake-o"></i><span class="nav-label">Objednávky</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('RentalOrder:add') ? active"><a n:href="RentalOrder:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('RentalOrder:list') ? active"><a n:href="RentalOrder:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Slide:*') ? active">
                        <a n:href="Slide:list" title="Slajdy"><i class="fa fa-picture-o"></i><span class="nav-label">Slajdy</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Slide:add') ? active"><a n:href="Slide:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Slide:list') ? active"><a n:href="Slide:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Text:*') ? active">
                        <a n:href="Text:servicesSection" title="Texty"><i class="fa fa-file-text"></i><span class="nav-label">Texty</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
         <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">{$user->identity->fullname}</span></li>
                        <li class="dropdown">
                            <img alt="image" class="logo" src="{$basePath}/images/admin/layout/allrisk_logo.jpg" />
                        </li>
                        <li class="main-ajax-spinner">
                            <div class="sk-spinner sk-spinner-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </li>
                        <li>
                            <a n:href="Sign:out">
                                <i class="fa fa-sign-out"></i> Odhlásit
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {include main}
            <div class="footer">
                <div class="pull-right">{$vehicles_count} vozidel</div>
                <div><strong>Copyright</strong> Allrisk &copy; 2017</div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{$basePath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>    
    <script src="{$basePath}/js/inspinia.js"></script>
    <script src="{$basePath}/js/plugins/pace/pace.min.js"></script>

    <!-- Toastr script -->
    <script src="{$basePath}/js/plugins/toastr/toastr.min.js"></script>

    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/admin.js"></script>

    {snippet flashes}
    <script>
    {foreach $flashes as $flash}
        toastr.{$flash->type|noescape}({$flash->message});
    {/foreach}
    </script>
    {/snippet}
    {block scripts}
    {/block}
</body>
</html>
