{block title}{$year} | Fotogalerie{/block}
{block content}
	<div class="main-title">Rok {$year}</div>
	<section class="archiv-list">
		<ul n:inner-foreach="$galeries as $galery">
			<li><a n:href="photos, $galery->id"><span class="galery-title">{$galery->galery_date|date:'d.m.Y'} {$galery->title}</span><span n:if="$galery->description != ''" class="folder-detail"> - {$galery->description}</span></a></li>
		</ul>
	</section>
{/block}