{block content}
	<h1 class="main-title">Plán akcí</h1>
	<div class="grid">
		<a n:foreach="$schedules_actual as $schedule" href="" class="col-1-6">{$schedule->year}</a>
	</div>
	<h1 class="main-title">Uskutečněné akce</h1>
	<div class="grid">
		<a n:foreach="$schedules_history as $schedule" href="" class="col-1-6">{$schedule->year}</a>
	</div>
{/block}