<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Example page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	</head>
<body>
	<header id="header" class="header"> 
		<div id="header_panel">
			<img class="head" src="{$basePath}/images/layout/logo.png" alt="logo_hlinsko">
		</div>
		<nav id="menu_list">
			<ul class="main-menu">
				<li>
					<a href="" title="">domů</a>
				</li>
				<li>
					<a href="" title="">plán akcí</a>
				</li>
				<li>
					<a href="" title="">fotogalerie</a>
				</li>
				<li class="large">
					<a href="" title="">krajem malířů <span class="vysocina">vysočiny</span></a>
				</li>
				<li>
					<a href="" title="">dokumenty</a>
				</li>
				<li>
					<a href="" title="">odkazy</a>
				</li>
			</ul>
		</nav>
		<div id="actuality_panel">
			<p>
				<span class="actual">Aktuality:</span> lemon drops sugar plum tiramisu jelly
			</p>
		</div>
	</header>
	<article>
		<div id="welcome_text">
			<div class="welcome-font"></div>
			<div class="welcome-img">
				<div class="house"></div>
			</div>
			<p>
				Jelly beans gingerbread soufflé dragée topping pastry tootsie roll macaroon marzipan. Apple pie gingerbread toffee. Cake lemon drops sugar plum tiramisu jelly. Toffee carrot cake liquorice marzipan bear claw biscuit. Topping liquorice marshmallow fruitcake cookie. Danish fruitcake oat cake cotton candy jujubes. Oat cake tiramisu danish soufflé caramels. Jujubes pie chupa chups gingerbread powder lollipop cake dragée. Candy canes gummi bears sugar plum sweet cake bonbon. Cupcake wafer sweet. Gummies apple pie liquorice powder lemon drops jelly beans cheesecake tiramisu jujubes. Muffin jelly-o donut cake gingerbread marzipan oat cake jelly. Chocolate bar fruitcake brownie jujubes.
			</p>
		</div>
	</article>
	<footer>
		<div id="footer_items">
			<div class="city-logo"></div>
			<div class="soc-sites">
				<div class="social-top">
					<p>
						sdílet
					</p>
				    <ul>
				        <li class="facebook"><a href="#self">f</a></li>
				        <li class="twitter"><a href="#self">t</a></li>
				        <li class="google"><a href="#self">g</a></li>
				    </ul>
				</div>
			</div>
			<div class="kct-adress">
				<p>
					KČT HLINSKO, Jelly beans soufflé <br> 
					dragée topping pastry tootsie  <br>
					macaroon marzipan. Apple pie .
				</p>
			</div>
			<div class="site-creators">
				<p>
					&copy 1975 - 2016 KČT Hlinsko,<br>
					design &copy 2016, rasika.sks <br>
					created by VityMo & Freezy
				</p>
			</div>
			<div class="kct-logo"></div>
		</div>
		<div id="created_by"> <p> created by 108.design  </p> </div>
	</footer>
</body>
</html>