<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">
		<title>{ifset title}{include title} | {/ifset}KČT Hlinsko</title>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
		<link href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans|Josefin+Sans|Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{$basePath}/css/photoswipe.css">
		<link rel="stylesheet" href="{$basePath}/css/default-skin.css"> 
		{block head}{/block}
	</head>
<body>
	<div class="body-navigation">
		<a class="back-to-top">Back to Top</a>
		<a n:if="isset($backlink)" href="{$backlink}" class="back-to-history">Back to History</a>
	</div>
	<header id="header" n:class="header"> 
		<div id="header_panel">
			<img class="head" src="{$basePath}/images/layout/logo.png" alt="logo_hlinsko">
		</div>
		<nav id="menu_list">
			<ul class="main-menu">
				<li class="wrapper">
					<a n:href="Page:view, 'welcome'" n:class="first, after, $presenter->linkCurrent ? active" title="">Domů</a>
				</li>
				<li class="wrapper">
					<a n:href="Noticeboard:noticeboard" n:class="first, after, $presenter->linkCurrent ? active" title="nástěnka">Nástěnka</a>
				</li>
				<li class="wrapper">
					<a n:href="EventsSchedule:schedulesList" n:class="first, after, $presenter->linkCurrent ? active" title="plán akcí">Plán akcí</a>
				</li>
				<li class="wrapper">
					<a n:href="Photogallery:photogallery" n:class="first, after, $presenter->isLinkCurrent('Photogallery:*') ? active" title="fotogalerie">Fotogalerie</a>
				</li>
				<li class="wrapper">
					<a n:href="Painters:list" class="first after" title="">Krajem malířů <span class="vysocina">vysočiny</span></a>
				</li>
				<li class="wrapper">
					<a n:href="Page:view, 'links'" n:class="first, after, $presenter->linkCurrent ? active" title="odkazy">Odkazy</a>
				</li>
			</ul>
		</nav>
		{*
		<div id="dashboard_panel">
			<div class="box_add_menu">
				<div class="addMenuList">
					<ul class="dropMenuList">
						<li class="wrapper-white"><div class="first after">Navigace</div>
							<ul>
								<li><a n:href="Page:view, 'history'" n:class="$presenter->linkCurrent ? active">Historie</a></li>
				    			<li><a n:href="Page:view, 'contacts'" n:class="$presenter->linkCurrent ? active">Kontakty</a></li>
				    			<li><a n:href="Page:view, 'statute'" n:class="$presenter->linkCurrent ? active">Stanovy KČT</a></li>
				    			<li><a n:href="Page:view, 'download'" n:class="$presenter->linkCurrent ? active">Ke stažení</a></li>
				    			<li><a n:href="Page:view, 'member_donations'" n:class="$presenter->linkCurrent ? active">Členské příspěvky</a></li>
				    			<li><a n:href="Page:view, 'insurance'" n:class="$presenter->linkCurrent ? active">Pojištění členů</a></li>
				    			<li><a n:href="Page:view, 'meeting'" n:class="$presenter->linkCurrent ? active">Výroční schůze KČT</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<p>
				<a n:href="Dashboard:default" class="actual-dashboard">Nástěnka:</a> 
				<a href="" class="direct-link-dashboard">lemon drops sugar plum tiramisu jelly</a>
			</p>
		</div>
		*}
		{if isset($show_secondary_nav) && $show_secondary_nav}
		<nav class="secondary_nav">
			<ul>
				<li><a n:href="Page:view, 'history'" n:class="$presenter->linkCurrent ? active">Historie</a></li>
				<li><a n:href="Page:view, 'contacts'" n:class="$presenter->linkCurrent ? active">Kontakty</a></li>
				<li><a n:href="Page:view, 'statute'" n:class="$presenter->linkCurrent ? active">Stanovy KČT</a></li>
				<li><a n:href="Page:view, 'download'" n:class="$presenter->linkCurrent ? active">Ke stažení</a></li>
				<li><a n:href="Page:view, 'member_donations'" n:class="$presenter->linkCurrent ? active">Členské příspěvky</a></li>
				<li><a n:href="Page:view, 'insurance'" n:class="$presenter->linkCurrent ? active">Pojištění členů</a></li>
				<li><a n:href="Page:view, 'meeting'" n:class="$presenter->linkCurrent ? active">Výroční schůze KČT</a></li>
			</ul>
		</nav>
		{/if}
	</header>
	<main>
		{include content}
	</main>
	<footer>
		<div id="footer_items">
			<div class="city-logo"></div>
			<div class="soc-sites">
				<div class="social-top">
					<p>
						sdílet
					</p>
				    <ul>
				    	<li class="facebook"><a href="#self">f</a></li>
				        <li class="twitter"><a href="#self">t</a></li>
				        <li class="google"><a href="#self">g</a></li>
				    </ul>
				</div>
			</div>
			<div class="kct-adress">
				<p>
					KČT HLINSKO, Jelly beans soufflé <br> 
					dragée topping pastry tootsie  <br>
					macaroon marzipan. Apple pie .
				</p>
			</div>
			<div class="site-creators">
				<p>
					&copy 1975 - 2016 KČT Hlinsko,<br>
					design &copy 2016, rasika.sks <br>
					created by <a href="">Break / design</a>
				</p>
			</div>
			<div class="kct-logo"></div>
		</div>
		<div id="created_by"> <p> created by <a href="">break / design</a>  </p> </div>
	</footer>
	<script type="text/javascript" src="{$basePath}/js/script.js"></script>
	{block scripts}{/block}
</body>
</html>