<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">
		<title>{ifset title}{include title} | {/ifset}KČT Hlinsko</title>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
		<link href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans|Josefin+Sans|Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{$basePath}/css/photoswipe.css">
		<link rel="stylesheet" href="{$basePath}/css/default-skin.css"> 
		{block head}{/block}
	</head>
<body>
	<a href="#" class="back-to-top">Back to Top</a>
	<a href="#" class="back-to-history">Back to Top</a>
	<header id="header" class="header"> 
		<div id="header_panel">
			<img class="head" src="{$basePath}/images/layout/logo.png" alt="logo_hlinsko">
		</div>
		<nav id="menu_list">
			<ul class="main-menu">
				<li class="wrapper">
					<a n:href="Homepage:default" n:class="first, after, $presenter->linkCurrent ? active" title="">domů</a>
				</li>
				<li class="wrapper">
					<a n:href="ActivitiesPlans:default" class="first after" title="">plán akcí</a>
				</li>
				<li class="wrapper">
					<a n:href="Photogallery:photogallery" n:class="first, after, $presenter->isLinkCurrent('Photogallery:*') ? active" title="">fotogalerie</a>
				</li>
				<li class="wrapper">
					<a n:href="Painters:default" class="first after" title="">krajem malířů <span class="vysocina">vysočiny</span></a>
				</li>
				<li class="wrapper">
					<a n:href="Documents:default" class="first after" title="">dokumenty</a>
				</li>
				<li class="wrapper">
					<a n:href="Links:default" class="first after" title="">odkazy</a>
				</li>
			</ul>
		</nav>
		<div id="dashboard_panel">
			<div class="box_add_menu">
				<div class="addMenuList">
					<ul class="dropMenuList">
						<li class="wrapper-white"><a href="" class="first after">Navigace</a>
							<ul>
								<li><a href="">Termíny</a></li>
				    			<li><a href="">Události</a></li>
				    			<li><a href="">Připomínky</a></li>
				    			<li><a href="">Kontakt</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<p>
				<a n:href="Dashboard:default" class="actual-dashboard">Nástěnka:</a> 
				<a href="" class="direct-link-dashboard">lemon drops sugar plum tiramisu jelly</a>
			</p>
		</div>
	</header>
	<main>
		{include content}
	</main>
	<footer>
		<div id="footer_items">
			<div class="city-logo"></div>
			<div class="soc-sites">
				<div class="social-top">
					<p>
						sdílet
					</p>
				    <ul>
				    	<li class="facebook"><a href="#self">f</a></li>
				        <li class="twitter"><a href="#self">t</a></li>
				        <li class="google"><a href="#self">g</a></li>
				    </ul>
				</div>
			</div>
			<div class="kct-adress">
				<p>
					KČT HLINSKO, Jelly beans soufflé <br> 
					dragée topping pastry tootsie  <br>
					macaroon marzipan. Apple pie .
				</p>
			</div>
			<div class="site-creators">
				<p>
					&copy 1975 - 2016 KČT Hlinsko,<br>
					design &copy 2016, rasika.sks <br>
					created by <a href="">Break / design</a>
				</p>
			</div>
			<div class="kct-logo"></div>
		</div>
		<div id="created_by"> <p> created by <a href="">break / design</a>  </p> </div>
	</footer>
	<script type="text/javascript" src="{$basePath}/js/script.js"></script>
	<script type="text/javascript">

		$('.myMenu ul li').hover(function() {
			$(this).children('ul').stop(true, false, true).fadeToggle(300);
		});

		$('.addMenuList ul li').hover(function() {
			$(this).children('ul').stop(true, false, true).fadeToggle(300);
		});

	</script>
	{block scripts}{/block}
</body>
</html>