.body-navigation {
	position: fixed;
	left: 15px;
	bottom: 15px;
}

a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	z-index: 999;
	background: rgba(191, 69, 44, 0.7) url(../images/layout/fluid-arrow.png) no-repeat center 40% / 2.2em;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 4px;
	cursor: pointer;
}

a.back-to-history {
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	text-indent: -9999px;
	z-index: 999;
	

	background: rgba(191, 69, 44, 0.7) url(../images/layout/fluid-arrow.png) no-repeat center 40% / 2.2em;
	transform: rotate(270deg);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 4px;
}

@media (min-width: 640px) and (max-width: 940px) {
	a.back-to-top { display: none !important}
	a.back-to-history { display: none}
}

@media (max-width: 640px) {
    a.back-to-top { display: none !important}
    a.back-to-history { display: none}
}
	