@import "reboot.css";
* {
  outline: 0px solid black;
}
a {
  text-decoration: none;
}
body {
  max-width: 1024px;
  margin: 0 auto;
  background-image: url(../images/layout/background_small.png);
  background-repeat: repeat;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 261px;
  width: 100%;
  background-color: white;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header {
    height: 236px;
  }
}
@media (max-width: 640px) {
  .header {
    height: 212px;
  }
}
.header #header_panel {
  width: 100%;
  background-image: url(../images/layout/head.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 170px;
  padding-top: 5px;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header #header_panel {
    height: 145px;
  }
}
@media (max-width: 640px) {
  .header #header_panel {
    height: 78px;
  }
}
.header #header_panel img.head {
  display: block;
  width: 17%;
  margin: -11px auto auto auto;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header #header_panel img.head {
    width: 139px;
    margin: 0 auto auto auto;
  }
}
@media (max-width: 640px) {
  .header #header_panel img.head {
    width: 90px;
    margin: -15px auto 0 auto;
  }
}
.header ul.main-menu {
  list-style-type: none;
  width: 90%;
  height: 40px;
  padding-left: 8%;
  text-align: center;
}
.header ul.main-menu li {
  display: inline;
  float: left;
  margin: 1% 1% 1% 0;
}
.header ul.main-menu li.large a {
  width: 190px;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header ul.main-menu li.large a {
    text-align: left;
    width: 124px;
  }
}
@media (max-width: 640px) {
  .header ul.main-menu li.large a {
    text-align: left;
    width: 127px;
  }
}
@media (min-width: 640px) and (max-width: 940px) {
  .header ul.main-menu li.large a .vysocina {
    display: none;
  }
}
@media (max-width: 640px) {
  .header ul.main-menu li.large a .vysocina {
    display: none;
  }
}
.header ul.main-menu li a {
  display: block;
  width: 120px;
  color: #38240F;
  font-weight: 600;
}
.header ul.main-menu li a:hover,
.header ul.main-menu li a.active {
  color: #bf452c;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header ul.main-menu li a {
    text-align: left;
    width: 85px;
  }
}
@media (max-width: 640px) {
  .header ul.main-menu li a {
    text-align: left;
    width: 133px;
  }
}
@media (max-width: 640px) {
  .header ul.main-menu {
    width: 100%;
    padding-left: 5%;
  }
}
.header #actuality_panel {
  background-color: #bf452c;
  width: 100%;
  height: 40px;
  float: left;
  webkit-box-shadow: 0px 2px 8px -2px #404040;
  -moz-box-shadow: 0px 2px 8px -2px #404040;
  box-shadow: 0px 2px 8px -2px #404040;
}
.header #actuality_panel p {
  display: block;
  width: 95%;
  height: 39px;
  margin: 0 auto;
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding-top: 8px;
}
.header #actuality_panel p .actual {
  font-weight: 600;
}
@media (min-width: 640px) and (max-width: 940px) {
  .header #actuality_panel p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  .header #actuality_panel p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
    margin-top: 8px;
    width: 87%;
    margin-top: 0;
  }
}
main {
  background-color: white;
  width: 100%;
  min-height: 100px;
  float: left;
  padding-bottom: 5px;
  margin: 0 auto;
}
main article {
  width: 100%;
  min-height: 450px;
}
main article #welcome_text {
  text-align: inherit;
  width: 75%;
  margin-left: 12%;
  margin-top: 2%;
}
main article #welcome_text .welcome-font {
  width: 103px;
  height: 39px;
  background-image: url(../images/layout/welcome.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 2%;
}
@media (min-width: 640px) and (max-width: 940px) {
  main article #welcome_text .welcome-font {
    width: 80px;
    height: 35px;
  }
}
@media (max-width: 640px) {
  main article #welcome_text .welcome-font {
    width: 80px;
    height: 35px;
  }
}
main article #welcome_text .welcome-img {
  margin: 5px 0 0 5px;
  width: 42%;
  height: 175px;
  min-height: 50px;
  float: right;
  position: relative;
}
main article #welcome_text .welcome-img .house {
  background-image: url(../images/layout/chatka.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}
@media (max-width: 640px) {
  main article #welcome_text .welcome-img {
    height: 133px;
  }
}
@media (min-width: 640px) and (max-width: 940px) {
  main article #welcome_text {
    width: 75%;
    margin-left: 10%;
  }
}
@media (max-width: 640px) {
  main article #welcome_text {
    width: 88%;
    margin-left: 6%;
  }
}
main article p {
  text-align: inherit;
  width: 100%;
}
@media (max-width: 640px) {
  main article p {
    margin-bottom: 8px;
  }
}
main .title-image {
  width: 240px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin: 3% 0 2% 11%;
  font-family: 'Lobster', cursive;
  font-size: 2.3em;
  color: #bf452c;
}
@media (min-width: 640px) and (max-width: 940px) {
  main .title-image {
    width: 223px;
    height: 35px;
    font-size: 2em;
    margin-left: 9%;
  }
}
@media (max-width: 640px) {
  main .title-image {
    width: 223px;
    height: 35px;
    font-size: 1.6em;
    margin-left: 5%;
  }
}
main .grid {
  width: 81%;
  height: 380px;
  margin: 0 auto;
  padding-left: 4%;
}
main .grid a.col-1-6 {
  width: 12%;
  min-width: 100px;
  height: 28px;
  float: left;
  margin-right: 4%;
  margin-top: 3%;
  margin-bottom: 4%;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: 600;
  border: 1px solid #694f34;
}
main .grid a.col-1-6:hover {
  background-color: #bf452c;
  color: white;
}
main .grid .col-1-4 {
  width: 21%;
  min-width: 120px;
  height: 28px;
  float: left;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 4%;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: 600;
  border: 1px solid #694f34;
}
main .grid .col-1-4 .dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 8px -1px #bfbdbf;
  -webkit-box-shadow: 0px 2px 8px -1px #bfbdbf;
  -moz-box-shadow: 0px 2px 8px -1px #bfbdbf;
}
main .grid .col-1-4 .dropDownMenu li {
  position: relative;
  width: 100%;
}
main .grid .col-1-4 .dropDownMenu a {
  width: 100%;
  display: block;
  color: black;
}
main .grid .col-1-4 .dropDownMenu a:hover {
  color: #bf452c;
}
main .grid .col-1-4 .dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  /* solve the 4 pixels spacing between list-items */
}
main .grid .col-1-4 .dropDownMenu > li:first-child {
  margin-left: 0;
}
main .grid .col-1-4 .dropDownMenu > li:first-child > a:hover {
  background: #bf452c;
  color: white;
}
main .grid .col-1-4 .dropDownMenu > li > ul {
  text-align: center;
  display: none;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999999;
  /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
main .grid .col-1-4 .dropDownMenu > li > ul > li > ul {
  text-align: left;
  display: none;
  background: darkcyan;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999999;
}
main .grid-for-painters {
  width: 81%;
  height: 380px;
  margin: 0 auto;
  padding-left: 4%;
  height: 320px;
}
main .grid-for-painters a.col-1-6 {
  width: 12%;
  min-width: 100px;
  height: 28px;
  float: left;
  margin-right: 4%;
  margin-top: 3%;
  margin-bottom: 4%;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: 600;
  border: 1px solid #694f34;
}
main .grid-for-painters a.col-1-6:hover {
  background-color: #bf452c;
  color: white;
}
main .grid-for-painters .col-1-4 {
  width: 21%;
  min-width: 120px;
  height: 28px;
  float: left;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 4%;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: 600;
  border: 1px solid #694f34;
}
main .grid-for-painters .col-1-4 .dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 8px -1px #bfbdbf;
  -webkit-box-shadow: 0px 2px 8px -1px #bfbdbf;
  -moz-box-shadow: 0px 2px 8px -1px #bfbdbf;
}
main .grid-for-painters .col-1-4 .dropDownMenu li {
  position: relative;
  width: 100%;
}
main .grid-for-painters .col-1-4 .dropDownMenu a {
  width: 100%;
  display: block;
  color: black;
}
main .grid-for-painters .col-1-4 .dropDownMenu a:hover {
  color: #bf452c;
}
main .grid-for-painters .col-1-4 .dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  /* solve the 4 pixels spacing between list-items */
}
main .grid-for-painters .col-1-4 .dropDownMenu > li:first-child {
  margin-left: 0;
}
main .grid-for-painters .col-1-4 .dropDownMenu > li:first-child > a:hover {
  background: #bf452c;
  color: white;
}
main .grid-for-painters .col-1-4 .dropDownMenu > li > ul {
  text-align: center;
  display: none;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999999;
  /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
main .grid-for-painters .col-1-4 .dropDownMenu > li > ul > li > ul {
  text-align: left;
  display: none;
  background: darkcyan;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999999;
}
main .grid-for-painters .col-1-3 {
  width: 26%;
  min-width: 160px;
  height: 223px;
  float: left;
  margin: 3% 8% 4% 0;
  text-align: center;
  line-height: 25px;
  color: black;
  font-weight: 500;
}
main .grid-for-painters .col-1-3:nth-child(3) {
  margin-right: 3%;
}
main .grid-for-painters .col-1-3 .basic-sponsor {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters .col-1-3 .basic-sponsor {
    height: 80px;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters .col-1-3 .basic-sponsor {
    height: 45px;
  }
}
main .grid-for-painters .col-1-3 #sponsor-1 {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/layout/znak.png);
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters .col-1-3 #sponsor-1 {
    height: 80px;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters .col-1-3 #sponsor-1 {
    height: 45px;
  }
}
main .grid-for-painters .col-1-3 #sponsor-2 {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/layout/coop.png);
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters .col-1-3 #sponsor-2 {
    height: 80px;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters .col-1-3 #sponsor-2 {
    height: 45px;
  }
}
main .grid-for-painters .col-1-3 #sponsor-3 {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/layout/rychtar.png);
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters .col-1-3 #sponsor-3 {
    height: 80px;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters .col-1-3 #sponsor-3 {
    height: 45px;
  }
}
main .grid-for-painters .col-1-3 p.adress {
  margin-top: 8px;
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters .col-1-3 {
    height: 205px;
    line-height: 21px;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters .col-1-3 {
    height: 130px;
    line-height: 19px;
  }
}
@media (max-width: 390px) {
  main .grid-for-painters .col-1-3 {
    margin-left: 8%;
  }
}
@media (min-width: 640px) and (max-width: 940px) {
  main .grid-for-painters {
    height: 240px;
    width: 95%;
  }
}
@media (max-width: 640px) {
  main .grid-for-painters {
    height: 360px;
    width: 95%;
    padding-left: 15%;
  }
}
@media (max-width: 390px) {
  main .grid-for-painters {
    height: 480px;
    width: 95%;
    padding-left: 15%;
  }
}
main .sponsor-links {
  width: 100%;
  height: 180px;
  text-align: center;
  list-style: none;
}
main .sponsor-links ul {
  list-style: none;
}
main .sponsor-links a {
  color: black;
}
main .sponsor-links :hover {
  color: #bf452c;
}
main .photogallery-archiv-list {
  width: 90%;
  min-height: 410px;
  margin: 3% auto;
  padding-left: 12%;
}
main .photogallery-archiv-list ul {
  list-style: none;
}
main .photogallery-archiv-list li {
  margin-bottom: 13px;
}
main .photogallery-archiv-list a {
  color: black;
}
main .photogallery-archiv-list a .folder-detail {
  font-size: 0.9em;
}
footer {
  width: 100%;
  min-height: 130px;
  float: left;
  background-color: #694f34;
  -webkit-box-shadow: 0px -4px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 25px -8px rgba(0, 0, 0, 0.75);
}
footer #footer_items {
  width: 100%;
  height: 112px;
  float: left;
  margin: 2% 2% 2% 0;
}
footer #footer_items .windows-items {
  height: 90%;
  float: left;
}
footer #footer_items .city-logo {
  height: 90%;
  float: left;
  width: 70px;
  margin: 0 4% 0 11%;
  background-image: url(../images/layout/znak.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #footer_items .city-logo {
    display: none;
  }
}
@media (max-width: 640px) {
  footer #footer_items .city-logo {
    display: none;
  }
}
footer #footer_items .soc-sites {
  width: 134px;
  height: 90%;
  float: left;
  margin: 0 2% 0 0;
}
footer #footer_items .soc-sites .social-top {
  float: right;
  width: 100%;
  margin-top: 8px;
}
footer #footer_items .soc-sites .social-top p {
  font-size: 0.9em;
  color: #d3cdbf;
  margin-bottom: 11px;
}
footer #footer_items .soc-sites .social-top li {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background-color: #d3cdbf;
  border-radius: 150px;
}
footer #footer_items .soc-sites .social-top li a {
  display: block;
  color: #694f34;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 150px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer #footer_items .soc-sites .social-top li.facebook {
  margin-right: 16px;
}
footer #footer_items .soc-sites .social-top li.twitter {
  margin-right: 16px;
}
footer #footer_items .soc-sites .social-top li.google a {
  line-height: 30px;
}
footer #footer_items .soc-sites .social-top li :hover {
  color: #694f34;
  background-color: #C1AC95;
  border-radius: 150px;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #footer_items .soc-sites {
    margin: 0 6% 0 8%;
  }
}
@media (max-width: 640px) {
  footer #footer_items .soc-sites {
    margin: 0 6% 0 10%;
  }
}
footer #footer_items .kct-adress {
  height: 90%;
  float: left;
  width: 225px;
  margin: 3px 2% 0 0;
  line-height: 28px;
}
footer #footer_items .kct-adress p {
  font-size: 0.9em;
  color: #d3cdbf;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #footer_items .kct-adress {
    width: 45%;
    margin: 10px 6% 0 0;
  }
}
@media (max-width: 640px) {
  footer #footer_items .kct-adress {
    display: none;
  }
}
footer #footer_items .site-creators {
  height: 90%;
  float: left;
  width: 183px;
  margin: 3px 2% 0 0;
  line-height: 28px;
}
footer #footer_items .site-creators p {
  font-size: 0.9em;
  color: #d3cdbf;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #footer_items .site-creators {
    display: none;
  }
}
@media (max-width: 640px) {
  footer #footer_items .site-creators {
    display: none;
  }
}
footer #footer_items .kct-logo {
  float: left;
  height: 75%;
  width: 7%;
  margin: 7px 0 0 1%;
  background-image: url(../images/layout/logo2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #footer_items .kct-logo {
    width: 60px;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  footer #footer_items .kct-logo {
    display: none;
  }
}
footer #created_by {
  display: none;
  float: right;
  margin: -25px 5% 1% 0;
}
footer #created_by p {
  color: #d3cdbf;
}
@media (min-width: 640px) and (max-width: 940px) {
  footer #created_by {
    display: block;
    display: none;
  }
}
@media (max-width: 640px) {
  footer #created_by {
    font-size: 0.9em;
    display: block;
    margin: -34px 6% 1% 0;
  }
}
